# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.sqlite

# Docker
.dockerignore

# Environment
.env
.env.local

# Temporary files
tmp/
temp/
*.tmp

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Test
.pytest_cache/
.tox/

# Static files
app/static/uploads/

#custom ignores
DST 4010 - Project 2.txt
drawio/


#Vite / Node.js
!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/docs/.vitepress/.temp
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
frontend/node_modules/